body {
    font-family: sans-serif;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f0f0f0;
}

header table {
    font-family: cursive;
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
    width: 100%;
    text-align: center;
}

#main_form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

#main_form table {
    width: 100%;
}

input[type="text"],
select {
    padding: 3px 7px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
}

#submit-btn {
    padding: 7px 16px;
    background-color: #3377dd;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #ff0000;
}

#result {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 8px;
    margin: 10px auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    font-size: 14px;
}

#result th,
#result td {
    text-align: center;
    padding: 6px;
}
#result td.hit {
    color: #3377dd;
}

#result td.miss {
    color: #ff0000;
}

#notifications {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.notification {
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.notification.success {
    background-color: #3377dd;
}

.notification.error {
    background-color: #ff0000;
}